// TODO
// apply a full reset/normalize to all child elements inside widget
// to ensure no styles from the surrounding page bleed in
.Widget,
.Widget > * {
    box-sizing: border-box;
}

h1 {
    text-align: center;
}
